exportPattern("^[[:alpha:]]+")
importFrom("graphics", "axis", "barplot", "legend", "par", "plot","title")
importFrom("stats", "fisher.test", "na.omit")
importFrom("utils", "read.csv")
importFrom("sna", "gplot", "gplot.layout.fruchtermanreingold")
importFrom("network", "as.network", "network.vertex.names", "as.matrix.network", "set.vertex.attribute", "get.vertex.attribute")
importFrom("cluster", "pam")
importFrom("igraph", "graph_from_edgelist", "layout_as_tree", "plot.igraph", "E", "union", "topo_sort","V","neighbors")
